#!/bin/bash
{{ template "is-fedora" . }}
{{ range .packages.repo }}
sudo dnf config-manager --add-repo {{ .repo }}
{{end}}
{{ range .packages.copr }}
sudo dnf copr enable -yq {{ .copr }}
{{ end }}
sudo dnf update -y
sudo dnf install -yq {{ range .packages.general }}{{ . }} {{ end }}{{ range concat .packages.repo .packages.copr }}{{ .pkg }} {{ end }}
