#!/bin/bash
{{ template "is-fedora" . }}
sudo dnf config-manager --add-repo https://mise.jdx.dev/rpm/mise.repo
sudo dnf config-manager --add-repo https://download.opensuse.org/repositories/shells:zsh-users:zsh-completions/Fedora_Rawhide/shells:zsh-users:zsh-completions.repo
sudo dnf copr enable agriffis/neovim-nightly
sudo dnf install -yq \
	mise \
	tmux \
	ripgrep \
	fd-find \
	bat \
	zsh \
	neovim python3-neovim \
	git \
	just \
	jq yq \
	curl wget rsync \
	python pipx \
	nodejs \
	golang \
	rust \
	zsh-completions
