#!/bin/bash
{{ template "is-fedora" . }}
{{ template "is-workstation" . }}
sudo dnf install -yq fedora-workstation-repositories
sudo dnf config-manager --set-enabled google-chrome
sudo dnf install -yq {{ .packages.workstation }}
