container_image_default="registry.fedoraproject.org/fedora-toolbox:40"
container_name_default="devcontainer"
container_pre_init_hook="~/.distrobox/pre-init-hooks"
container_init_hook="ln -sf /usr/bin/distrobox-host-exec /usr/local/bin/podman"
container_init_hook="export TMUX_TMPDIR="/var/tmp/"
container_additional_packages="{{ template "parse-packages" . -}}"
